<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧表示</title>
</head>
<body>
	<h1>商品一覧表示</h1>
	<a href="/create">新規登録</a>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>商品名</th>
				<th>価格</th>
				<th>カテゴリー</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${items}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.category.name}"></td>
				<td>
					<form th:action="@{/edit/{id}(id=${item.id})}" method="get">
						<input type="submit" value="編集">
					</form>
				</td>
				<td>
					<form th:action="@{/delete/{id}(id=${item.id})}" method="post">
						<input type="submit" value="削除">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>